
<div class="action-bar" *ngIf="!loadingDetail">
    <div class="action-detail">
      <img height="32" src="https://images.onlinelabels.com/images/clip-art/dagobert83/dagobert83_female_user_icon.png">
      <b>{{name}}</b>
    </div>
    <div class="action-icons" *ngIf="details.title">
      <button *ngIf="edit" mat-button class="mat-icon-button" (click)="updateCollection()">
          <mat-icon>save</mat-icon>
      </button>
      <button *ngIf="details != {} && !AddCollection && !details.sharedBy" (click)="editCollection()" mat-button class="mat-icon-button" >
          <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="details != {} && !AddCollection && !details.sharedBy" (click)="share(details._id)" mat-button class="mat-icon-button" >
          <mat-icon>share</mat-icon>
      </button>
      <button *ngIf="details != {} && !AddCollection && !details.sharedBy" (click)="deleteCollection(details._id)" mat-button class="mat-icon-button">
        <mat-icon>delete</mat-icon>
    </button>
      <button (click)="addData()" *ngIf="AddCollection && !edit" mat-button class="mat-icon-button" >
        <mat-icon>add_circle</mat-icon>
     </button>
     <button *ngIf="AddCollection" (click)="clearData()" mat-button class="mat-icon-button" >
      <mat-icon>clear</mat-icon>
    </button>
    </div>
</div>

<div class="list-details" *ngIf="loadingDetail">
    <list-content-loader></list-content-loader>
</div>
<div class="list-details" *ngIf="!AddCollection && !loadingDetail">
    <div fxLayout="row" fxLayoutWrap="wrap" class="row">
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="50">
            <h4 style="text-align: left;">{{details.title}}</h4>
        </div>
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="50">
            <h4 style="text-align: right;" *ngIf="details.sharedBy">Shared By : {{details.sharedBy}}</h4>
        </div>
  </div>
  <span>{{details.date}}</span>
  <p *ngIf="details.description">{{details.description}}</p>
  <div class="detail-creadentail">
    <mat-form-field *ngIf="details.email">
      <input matInput placeholder="Email" [value]="details.email" readonly />
    </mat-form-field>
    <mat-form-field *ngIf="details.password">
      <input matInput placeholder="Password" [value]="details.password" readonly />
    </mat-form-field>
    <mat-form-field *ngIf="details.category">
      <input matInput placeholder="Category" [value]="details.category" readonly />
    </mat-form-field>
    <mat-form-field *ngIf="details.extra">
      <input matInput placeholder="Extra" [value]="details.extra" readonly />
    </mat-form-field>
  </div>
</div>

<div class="list-details" *ngIf="loadingDetail">
    <list-content-loader></list-content-loader>
</div>

<div class="list-details" *ngIf="AddCollection">
    <form [formGroup]="collection"> 
  <div class="detail-creadentail">
   
      <mat-form-field>
        <input matInput placeholder="Title" [formControl]="collection.controls['title']" />
      </mat-form-field>
      <small *ngIf="collectionForm && collection.controls['title'].hasError('required')" class="text-danger support-text">You must enter a name.</small>

      <mat-form-field>
        <input matInput placeholder="Description" [formControl]="collection.controls['description']"  />
      </mat-form-field>
      <small *ngIf="collectionForm && collection.controls['description'].hasError('required')" class="text-danger support-text">You must enter a name.</small>

      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="collection.controls['email']" />
      </mat-form-field>
      <small *ngIf="collectionForm && collection.controls['email'].hasError('required')" class="text-danger support-text">You must include an email address.</small>
      <small *ngIf="collection.controls['email'].errors?.email && collection.controls['email'].touched" class="text-danger support-text">You must include a valid email address.</small>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" [formControl]="collection.controls['password']" />
      </mat-form-field>
      <small *ngIf="collectionForm && collection.controls['password'].hasError('required')" class="text-danger support-text">You must enter a name.</small>
    
      <mat-form-field>
        <mat-select placeholder="Select a category" [formControl]="collection.controls['category']">
          <mat-option value="My Collections">
            Select a category
          </mat-option>
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Extra" type="text" [formControl]="collection.controls['extra']" />
      </mat-form-field>
    
    </div>
  </form>
</div>