<div class="content" 
       fxLayout="row" 
       fxLayout.xs="column" 
       fxFlexFill >
       
  <div fxFlex="65" fxFlex.xs="55">
      <div class="bg-auth"></div>
  </div>

  <div fxFlex="35" class="auth" fxFlex.xs="15">
    <h2>Forgot Password</h2>
    <form [formGroup]="user">

    <div class="auth-container">
      <mat-form-field>
        <input matInput placeholder="Email" type="email" [formControl]="user.controls['email']" />
      </mat-form-field>
      <small *ngIf="userForm && user.controls['email'].hasError('required')" class="text-danger support-text">You must include an email address.</small>
      <small *ngIf="user.controls['email'].errors?.email && user.controls['email'].touched" class="text-danger support-text">You must include a valid email address.</small>
    </div>

    <div class="auth-link-right">
      <a [routerLink]="['/signin']">Back to Sign In?</a>
    </div>

    <button mat-raised-button (click)="forgotPassword(user)" *ngIf="!loading" class="auth-success" type="submit">Forgot Password</button>
    <button mat-raised-button *ngIf="loading" class="auth-success">
        Loading...
    </button>
    </form>

  </div>

</div>