<div>
    <mat-form-field class="select-category">
        <mat-select placeholder="Select a category">
          <mat-option>
            Select a category
          </mat-option>
          <mat-option *ngFor="let category of categoryLists" (click)="getCollections(category)">
              {{category}}
          </mat-option>
       </mat-select>
      </mat-form-field>
      
      <content-loader *ngIf="loadingList">
        <svg:rect x="0" y="0" rx="3" ry="3" width="550" height="35" />
        <svg:rect x="0" y="40" rx="3" ry="3" width="550" height="35" />
        <svg:rect x="0" y="80" rx="3" ry="3" width="550" height="30" />
        <svg:rect x="0" y="120" rx="3" ry="3" width="550" height="20" />
      </content-loader>
      
      <mat-list *ngIf="!loadingList">
          <mat-list-item *ngFor="let list of lists; let index;">
            <div class="list-container" (click)="listDetail(list._id)">
              <div class="list-heading">
                <h4>{{list.title}}</h4>
                <span>{{list.date}}</span>
              </div>
              <div class="list-img">
                <img [src]="list.img" height="32" alt="">
              </div>
            </div>
          </mat-list-item>    
        </mat-list>
</div>